* {
   -fx-verde-claro: #A5D268;
   -fx-celeste: #61A3D4;
  -fx-celeste-oscuro: #5389b3;
   -fx-verde-opaco: #305329;
   -fx-color-fondo: #eaf3f9; 
   -fx-celeste-opaco: #3979B2;
   -fx-rojo-eliminar: #d32f2f;
}



/*
 ---------------------------------
       INTERFAZ PRINCIPAL
 ---------------------------------
*/

.barraArriba{
    -fx-background-color :  -fx-celeste;
    -fx-background-radius: 20 20 0 0;
}

.barraIzquierda{
    -fx-background-color : -fx-verde-claro;
    -fx-background-radius: 20 0 0 20;
}


.panelFondo{
    -fx-background-color : white;
}



.botonNoSeleccionado{
    -fx-background-color : -fx-verde-claro;
    -fx-background-radius :  0 0 0 0;
    -fx-text-fill: -fx-verde-opaco;
    -fx-cursor: HAND;

}

.botonNoSeleccionado:hover{  
    -fx-background-color :  -fx-celeste;
    -fx-background-radius :  0 0 0 0;
    -fx-border-color: -fx-celeste-opaco;
    -fx-border-width: 0 0 0 6; 
    -fx-padding: 0 6 0 0; 
    -fx-cursor: HAND;

}
.botonNoSeleccionado:pressed{
    -fx-background-color :-fx-celeste-oscuro ;
    -fx-background-radius :  0 0 0 0;
    -fx-cursor: HAND;

}

.botonSeleccionado{
    -fx-background-color :  -fx-celeste;
    -fx-background-radius :  0 0 0 0;
   /* -fx-border-color: -fx-celeste-opaco;
    -fx-border-width: 0 0 0 5; 
    -fx-padding: 0 5 0 0;    
    
*/
-fx-cursor: HAND;

}
.botonSeleccionado:hover
{
    -fx-background-color : -fx-celeste;
    -fx-background-radius :  0 0 0 0;
    -fx-cursor: HAND;

}
.botonSeleccionado:pressed{
    -fx-background-color :-fx-celeste-oscuro ;
    -fx-background-radius :  0 0 0 0;
    -fx-cursor: HAND;

}

.paneSeleccionado{
    -fx-background-color :  -fx-color-fondo;
    -fx-background-radius: 20; 
    visibility: visible;
}

.paneNoSeleccionado{
    -fx-background-color :  transparent;
    -fx-background-radius: 20;
        visibility: hidden;

}

.triangulo{
    -fx-fill: -fx-celeste;
}

.botonAgregar{
    -fx-background-color: -fx-verde-claro; 
    -fx-background-radius: 10;
   -fx-font-family: "Roboto Regular";
   -fx-font-size: 23px;
   -fx-cursor: HAND;
   -jfx-rippler-fill: #3cff00;
  

}
.botonEliminar{
    -fx-background-color: -fx-rojo-eliminar ; 
    -fx-background-radius: 10;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 23px;
    -fx-cursor: HAND;
    -jfx-rippler-fill: red;
   
}

/*
 ---------------------------------
            TAB PANE
 ---------------------------------
*/

.tab{ 
    
   
    -fx-pref-height: 60;
    -fx-background-radius: 20 20 0 0;
    -fx-cursor: HAND;


}
.jfx-tab-pane .tab-header-area .control-buttons-tab .jfx-rippler {
    -jfx-rippler-fill: -fx-celeste;
   
}

.jfx-tab-pane .tab-header-area .tab-down-button:left {
    -fx-shape: "M 742,-37 90,614 Q 53,651 53,704.5 53,758 90,795 l 652,651 q 37,37 90.5,37 53.5,0 90.5,-37 l 75,-75 q 37,-37 37,-90.5 0,-53.5 -37,-90.5 L 512,704 998,219 q 37,-38 37,-91 0,-53 -37,-90 L 923,-37 Q 886,-74 832.5,-74 779,-74 742,-37 z";
    -fx-background-color:-fx-celeste-opaco;
  
}
.jfx-tab-pane .tab-header-area .tab-down-button:right {
    -fx-shape: "m 1099,704 q 0,-52 -37,-91 L 410,-38 q -37,-37 -90,-37 -53,0 -90,37 l -76,75 q -37,39 -37,91 0,53 37,90 l 486,486 -486,485 q -37,39 -37,91 0,53 37,90 l 76,75 q 36,38 90,38 54,0 90,-38 l 652,-651 q 37,-37 37,-90 z";
    -fx-background-color: -fx-celeste-opaco;

}

.tab-header-background{
    -fx-background-color: transparent;
    -fx-background-radius :  0 0 0 0;
  
    
   
    
}

.jfx-tab-pane .depth-container { -fx-effect: none; }


.jfx-tab-pane .headers-region > .tab-selected-line{
   /* -fx-pref-width: 10 px;*/
    -fx-border-color: -fx-celeste-opaco;
    -fx-pref-height: 5;
    -fx-background-color:-fx-celeste-opaco;
   
}

.jfx-tab-pane .tab-selected{
    
    -fx-background-color: transparent;
    -fx-background-radius: 20 0 20 0;

    -fx-border-color: transparent;
    -fx-border-radius: 20 20 0 0;
    
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-size: 30;
    -fx-font-family: 'Roboto Thin';
    -fx-alignment: BOTTOM_CENTER;
 
}

.jfx-tab-pane2 .tab .tab-label {
    -fx-font-size: 15;
    -fx-font-family: 'Roboto Thin';
    -fx-alignment: BOTTOM_CENTER;
 
}

.jfx-tab-pane .tab {
/*    -fx-background-color: #546d2d;*/
-fx-background-color: transparent;
-fx-border-color: transparent;
-fx-border-radius: 20 20 0 0;

   
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: -fx-celeste-opaco;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: grey;
}
.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: -fx-celeste;
}
/*
 ---------------------------------
            CHIP VIEW
 ---------------------------------
*/


.jfx-chip-view .jfx-chip > HBox {
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 14.0;
    -fx-background-color: -fx-verde-claro;
    -fx-background-radius: 40px;
    -fx-padding: 5px 8px 5px 12px;
    -fx-pref-height: 32px;
    -fx-alignment: center-left;
    -fx-spacing: 8;
}

/*
 ---------------------------------
            COMBO BOX
 ---------------------------------
*/




.jfx-controles {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 16px;
}

.jfx-text-field:error, .jfx-combo-box:error  {
    -jfx-focus-color: -fx-rojo-eliminar;
    -jfx-unfocus-color: -fx-rojo-eliminar;
}

.jfx-text-field .error-label, .jfx-combo-box .error-label {
    -fx-text-fill: -fx-rojo-eliminar;
    -fx-font-size: 10px;
}

.tooltips-menu {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12px;
}

.barra-abajo-abierta{
    -fx-background-color: white;
    -fx-background-radius: 0 0 10 10; 
}

.barra-abajo-cerrada{
    -fx-background-color: white;
    -fx-background-radius: 0; 
}

.boton-abajo-abierto{
    -fx-background-color: white;
    -fx-background-radius: 0 0 10 0; 
}
.boton-abajo-cerrado{
    -fx-background-color: white;
    -fx-background-radius: 0; 
}