* {
   -fx-verde-claro: #b8db81;
   -fx-verde-inter: #86AE46;
   -fx-verde-oscuro: #6d8d3a;
   -fx-verde-opaco: #305329;
   -fx-color-fondo: #d4e7be;

}


/*
 ---------------------------------
       INTERFAZ PRINCIPAL
 ---------------------------------
*/

.barraArriba{
    -fx-background-color :  -fx-verde-inter;
    -fx-background-radius: 20 20 0 0;
}

.barraIzquierda{
    -fx-background-color : -fx-verde-claro;
    -fx-background-radius: 20 0 0 20;
}


.panelFondo{
    -fx-background-color : white;
}

.botonNoSeleccionado{
    -fx-background-color : -fx-verde-claro;
    -fx-background-radius :  0 0 0 0;
    -fx-text-fill: -fx-verde-opaco;
}

.botonNoSeleccionado:hover{  
    -fx-background-color :  -fx-verde-inter;
    -fx-background-radius :  0 0 0 0;
}
.botonNoSeleccionado:pressed{
    -fx-background-color : -fx-verde-oscuro ;
    -fx-background-radius :  0 0 0 0;
}

.botonSeleccionado{
    -fx-background-color :  -fx-verde-inter;
    -fx-background-radius :  0 0 0 0;
    -fx-text-fill: -fx-color-fondo;

}
.botonSeleccionado:hover
{
    -fx-background-color : -fx-verde-inter;
    -fx-background-radius :  0 0 0 0;
}
.botonSeleccionado:pressed{
    -fx-background-color : -fx-verde-oscuro ;
    -fx-background-radius :  0 0 0 0;
}

.paneSeleccionado{
    -fx-background-color :  -fx-color-fondo;
    -fx-background-radius: 20; 
    visibility: visible;
}

.paneNoSeleccionado{
    -fx-background-color :  -fx-color-fondo;
    -fx-background-radius: 20;
        visibility: hidden;

}

/*
 ---------------------------------
            TAB PANE
 ---------------------------------
*/

.tab{ 
    -fx-pref-width: 480;
   
    -fx-pref-height: 90;
    -fx-background-radius: 0 0 0 0;
    -fx-border-color: -fx-color-fondo;
    -fx-border-width: 0 3 0 0;
    
}

.tab-header-background{
    -fx-background-color: -fx-color-fondo;
    -fx-background-radius :  0 0 0 0;
    
   
    
}

.jfx-tab-pane .tab-selected-line{
    -fx-border-color:  -fx-verde-inter;
    -fx-pref-height: 5;
    -fx-background-color: -fx-verde-inter;
    -fx-background-radius: 0 0 0 0;
 
    
}

.jfx-tab-pane .headers-region > .tab-selected-line{
    -fx-pref-width: 10 px;
    -fx-border-color:  -fx-verde-inter;
    -fx-pref-height: 5;
    -fx-background-color: -fx-verde-inter;
   
}

.jfx-tab-pane .tab-selected{
    
    -fx-background-color: -fx-verde-claro;

    
    
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-size: 30;
    -fx-font-family: 'AppleGothic';
    -fx-text-fill: black;
 
}
.jfx-tab-pane .tab {
/*    -fx-background-color: #546d2d;*/
-fx-background-color: -fx-verde-claro;

   
}