.tab{
    -fx-pref-width: 470;
    -fx-pref-height: 60;
}

.tab-header-background{
    -fx-background-color: rgb(84, 109, 45)
}

.jfx-tab-pane .tab-selected-line{
    -fx-border-color:  #b8db81;
    -fx-pref-height: 5;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-size: 24;
    -fx-font-family: 'Courier new';
}